CAPTION="RetroGame - Engine"

DEBUG_MODE=true

LOGGEING_CONFIG_JSON="./src/json/logging/logging_config_default.json"

# -------------------------
# SCREEN SETTINGS
# -------------------------

SCREEN_WIDTH=1280
SCREEN_HEIGHT=720

FPS=60

# -------------------------
# RACING SETTINGS
# -------------------------
DISTANCE_PER_LENGTH=1